.Cards
  &__header
    display: flex
    justify-content: space-around
    background-color: lightblue
    padding-top: 30px
    padding-bottom: 100px
  &__toggler
    display: flex
    justify-content: center
  &__toggle-button
    margin-right: 40px
    font-size: 20px
    cursor: pointer
    &:hover
      color: red
    &--active
      border-bottom: 2px solid blue
  &__cards
    margin-top: 24px

