@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-background-top {
  background-color: crimson;
  height: 50vh;
}

.App-background-bottom {
  background-color: black;
  height: 50vh;
}
